@model PropertyAdvModel


<section class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="lead" style="margin-bottom:15px;">
                @Model.Area.value @Model.Area.Unit.Name in @Model.Neighborhood.Name, @Model.Neighborhood.City.Name, @Model.Neighborhood.City.Province.Name
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <div style="margin-bottom:15px">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">
                            <div><strong>Rs.@string.Format("{0:N0}", Model.Price)/-</strong></div>
                            <div><small>Posted on @Model.PostedOn.ToString("MMMM dd, yyyy")</small></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" >
                <div class="card-body">
                    <div class="card-text">
                        <div>Posted by @Model.PostedBy.Name</div>
                        <div>Contact#:<strong>@Model.PostedBy.ContactNumber</strong></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col">
                    <img src="data:image/jpg;base64,@Model.Images[0]" alt="@Model.Name" class="w-100" />
                </div>
            </div>
            <div style="margin-top:15px;">
                <div class="row">
                    @foreach (var img in Model.Images)
                    {
                        <div class="col-3"><img src="data:image/jpg;base64,@img" alt="@Model.Name" class="w-100" /></div>
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div style="margin-top:15px;" class="text-justify" >
                @Model.Description
            </div>
        </div>
    </div>
</section>




